.card {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 30%;
  padding: 0 3%;
  border-radius: 10px;
  box-shadow: none;
  transition: all 0.5s ease;
  margin: 2%;
  text-align: center;
  position: relative;
}

.card a {
  text-decoration: none;
  color: #111;
}

svg.card__icon {
  position: relative;
  z-index: 1;
  width: 22%;
  transition: all 0.5s ease;
}

.level {
  width: 17%;
  display: flex;
  flex-wrap: nowrap !important;
  margin: 7% -5% 0 auto;
}



/* .level > div {
  height: 2px;
  width: 24%;
  margin: 0 4%;
  background-color: green;
} */
